/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

    scroll-behavior: smooth;
}


/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

h1, h2, h3, .brand {
    font-family: "Poppins", sans-serif;
}


body {
    line-height: 1.6;
    letter-spacing: 0.1px;
} */

