.contact {
  padding: 96px 24px;
  background: #fff;
  /* font-family: "Inter", system-ui, sans-serif; */

}


.contact__icon {
  --contact-color: #ad1543;
  color: var(--contact-color);

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 0; 
}

.contact__icon svg {
  display: block;

   width: 20px;
  height: 20px;
}




.contact__header {
  text-align: center;
  margin-bottom: 64px;
}

.contact__header h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111;
}

.contact__header span {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #999;
}

/* Container */
.contact__container {
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}

/* Info */
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__item {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  color: #222;
}

/* .contact__icon {
  font-size: 18px;
} */

/* Social */
.contact__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.contact__social a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  font-size: 16px;
  color: #111;
}

.social__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #111;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;
}

/* Hover */
.contact__social a:hover {
  opacity: 0.7;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 72px 24px;
  }

  .contact__container {
    grid-template-columns: 1fr;
    gap: 48px;
    text-align: center;
  }

  .contact__social {
    align-items: center;
  }
}
