.footer {
  position: relative;
  padding: 2rem 1rem;
  background-image: url("../../../assets/velas5.jpg"); /* opcional */
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

/* Overlay oscuro */
.footer__overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.85)
    ),
    rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.footer__content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* Logo */
.footer__logo {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  margin-bottom: 28px;
  opacity: 0.85;
}

.footer__logo_icon {
  width: 106px;
  height: 106px;
  /* border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer__logo-text {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: lowercase;
}

/* Textos */
.footer__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 14px;
}

.footer__description {
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 36px;
}

.footer__copy {
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.45);
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 72px 20px;
  }

  .footer__title {
    font-size: 24px;
  }

  .footer__description {
    font-size: 15px;
  }
}
