.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background: rgba(10, 10, 10, 0.85); */
  /* background: rgba(128, 5, 33, 0.95); */
  background: #fff;
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.navbar__container {
  height: 72px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar__logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  
  /* color:#3cbb80; */
}

.navbar__logo img {
  height: 4rem;
}

.navbar__logo span {
  color:#ad1543;
  /* color: #111; */
  font-weight: 600;
  font-size: 1.2rem;
}

/* Desktop links */
.navbar__links {
  display: flex;
  gap: 32px;
}

.navbar__links a {
  /* color: #fff; */
  color: #111;
  text-decoration: none;
  font-size: 15px;
  transition: opacity 0.2s;
}

.navbar__links a:hover {
  /* opacity: 0.7; */
  color: #ff5c5c;
}

/* Hamburger */
.navbar__toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__toggle span {
  width: 24px;
  height: 2px;
  background: #111;
  transition: transform 0.3s, opacity 0.3s;
}

/* Mobile menu */
.navbar__mobile {
  display: none;
  flex-direction: column;
  background: #000;
  padding: 24px;
}

.navbar__mobile a {
  color: #fff;
  text-decoration: none;
  padding: 12px 0;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__toggle {
    display: flex;
  }

  .navbar__mobile.show {
    display: flex;
  }
}
